<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SmokesCreator</key>
	<string>Leopold Lemmermann</string>
	<key>SmokesFactsUrl</key>
	<string>https://smokes.leolem.dev/facts</string>
	<key>SmokesMarketingUrl</key>
	<string>https://smokes.leolem.dev</string>
	<key>SmokesPrivacyUrl</key>
	<string>https://smokes.leolem.dev/privacy</string>
	<key>SmokesSupportUrl</key>
	<string>https://github.com/Leo-Lem/Smokes</string>
</dict>
</plist>
